In [214]:
import pandas as pd

##### Reading Data

In [215]:
data = pd.read_csv('Twitter_data.csv')
# data.sort_values("twitter_screen_name", inplace = True)
data.drop_duplicates(subset ="twitter_screen_name", keep = "first", inplace = True)
data

,twitter_screen_name,twitter_name,twitter_desc,twitter_location,wikidata_desc,type1,type2
0,BarackObama,Barack Obama,"Dad, husband, President, citizen.","Washington, DC",44th president of the United States,Politician,Person
1,justinbieber,Justin Bieber,#Changes out now,NaN,Canadian singer,MusicalArtist,Person
2,katyperry,KATY PERRY,Love. Light.,NaN,American singer,MusicalArtist,Person
3,rihanna,Rihanna,NaN,NaN,"Barbadian singer, songwriter, and businesswoman",MusicalArtist,Person
4,taylorswift13,Taylor Swift,Lover out now,NaN,American singer-songwriter,MusicalArtist,Person
...,...,...,...,...,...,...,...
29058,JessalynGilsig,Jessalyn Gilsig,Big Shot Vikings Glee Scandal Nip Tuck and any...,NaN,actress,Person,Person
29059,ReemaMajor,Reema Major,Dey Say Only Da Good Die Young So Fuck It ima ...,South Sudan - UAE,Canadian rapper,MusicalArtist,Person
29060,EqualityTexas,Equality Texas,We work to secure full equality for LGBTQ Texa...,"Austin, Texas",NaN,Organisation,Organisation
29061,Margus_Hunt,Margus Hunt,Official Twitter page of Margus Hunt,"Indianapolis, IN","Estonian track and field athlete, American foo...",AmericanFootballPlayer,Person
29062,SandraBookman7,Sandra Bookman,Sandra is a reporter and weekend anchor for Ey...,New York City,American journalist and news anchor at WABC-TV,Person,Person

##### Most Frequent  Words in twitter_desc

In [216]:
import nltk

In [218]:
twitter_desc = data[data['twitter_desc'].notna()]['twitter_desc'].tolist()
twitter_desc = ' '.join(twitter_desc) # convert list to string

###### data cleansing

In [219]:
# imports
english_vocab = sorted(set(w.lower() for w in nltk.corpus.words.words()))
stopwords = nltk.corpus.stopwords.words('english')
def cleanse_data(s):
    lemmatizer = nltk.stem.WordNetLemmatizer()
    # tokenize the input string 
    s = list(nltk.tokenize.word_tokenize(s))
    res = []
#     iterate over words in string 
    for word in s:
        if word.lower() in english_vocab and word.lower() not in stopwords: # if words exists in english_ vocab and doesnt exist in stopwords
            res.append(lemmatizer.lemmatize(word.lower()))                  # perform lemmatization, and then add it to the final result list.  
    return res

30 Most Common Words in twitter_desc column

In [548]:
s = cleanse_data(twitter_desc)
pd.DataFrame(FreqDist(s).most_common(30), columns = ['word', 'frequency']).to_csv('question1.csv')
pd.DataFrame(FreqDist(s).most_common(30), columns = ['word', 'frequency'])

        word  frequency
0   official       2741
1    twitter       2344
2       news       1784
3        new       1423
4      world       1384
5    account       1343
6     author       1143
7          u        966
8         de        826
9     follow        731
10    former        669
11     actor        661
12     music        649
13      time        595
14    writer        570
15      life        554
16      host        552
17        la        530
18      love        529
19     sport        516
20      page        511
21    people        506
22   contact        488
23    father        488
24   husband        486
25     since        471
26  business        464
27     album        457
28  champion        452
29      best        448

# Male, Female Counts

In [480]:
names = nltk.corpus.names
names.fileids()
male_names = names.words('male.txt')
female_names = names.words('female.txt')
male_names = [w.lower() for w in male_names]
female_names = [w.lower() for w in female_names]

In [500]:
full_names = data[data['twitter_name'].notna()]['twitter_name'].tolist()
count_male, count_female = 0, 0
for name in full_names:
    first_name = name.split(' ')[0].lower()
    if first_name in male_names and first_name not in female_names:
        count_male += 1
    elif first_name in female_names and first_name not in male_names: 
        count_female += 1

In [501]:
{'Female count' : count_female
, 'Male Count' : count_male}

{'Female count': 3533, 'Male Count': 6334}

In [502]:
df_data = data[data['twitter_name'].notna() & data['twitter_desc'].notna()]

words_male = []
words_female = []

for index, row in df_data.iterrows():
    
    name = row['twitter_name'].split(' ')[0]
    if name in male_names and name not in female_names:
        words_male.extend(cleanse_data(row['twitter_desc']))
    elif name in female_names and name not in male_names: 
        words_female.extend(cleanse_data(row['twitter_desc']))

#### Top 30 Words describe Male:

In [544]:
pd.DataFrame(FreqDist(words_male).most_common(30), columns =['word', 'frequency'])

        word  frequency
0      actor         13
1     author         12
2    twitter         11
3        new         11
4         de         10
5   official          9
6   producer          9
7       host          8
8       like          7
9      world          7
10      good          6
11    father          6
12   husband          5
13       pro          5
14    writer          5
15      time          5
16     music          5
17      love          5
18       bad          5
19   founder          5
20      news          5
21    player          5
22      make          4
23       fan          4
24        en          4
25     radio          4
26   special          4
27      know          4
28    artist          4
29       son          4

#### Top 30 Words describe Female:

In [543]:
pd.DataFrame(FreqDist(words_female).most_common(30), columns =['word', 'frequency']).to_csv('women.csv')
pd.DataFrame(FreqDist(words_female).most_common(30), columns =['word', 'frequency'])

             word  frequency
0         actress         17
1          writer         13
2          author         12
3           world         11
4           actor         11
5            time          9
6            host          8
7            love          8
8        producer          8
9        official          7
10         follow          7
11           girl          7
12            new          7
13            dog          7
14  correspondent          7
15        twitter          6
16          lover          6
17           wife          6
18         mother          6
19           food          6
20       director          6
21           live          5
22          music          5
23          model          5
24           best          5
25           like          5
26           back          5
27            one          5
28           show          5
29           news          5

We convert the freqDist to a dictionary so we can get the frequency of each word

In [506]:
words_male = dict(FreqDist(words_male))
words_female = dict(FreqDist(words_female))

##### PMI

In [507]:
from  math import log2

def Pr_wClass(word,class_words): #class is by default both, else male or female
    class_len = sum(class_words.values())# we calculate the sum of frequencies for each class
    if word not in class_words:
        
        return 0
## if word is in class_1 words we add it's frequency so we can calculate it's proprortion next
# calculating the proportion of the word in a class (how many times it occured/the whole sum of frequencies of the class).
    return class_words[word] / class_len 

# what is the proportion between the class and sum of the classes.
def pr_class(class_):
    if class_ == 'male':
        return count_male/(count_male+count_female)
    elif class_ == 'female':
        return count_female/(count_male+count_female)
    elif class_ == 'musical_artist':
        return count_musical_artists / (count_musical_artists + count_non_musical_artists)
    elif class_ == 'non_musical_artists': 
        return count_non_musical_artists / (count_musical_artists + count_non_musical_artists)
    elif class_ == 'politicians':
        return count_politicians / (count_politicians + count_non_politicians)
    return count_non_politicians / (count_politicians + count_non_politicians)



def pr_w(word, class1_words, class2_words):
    res = 0 
    if word in class1_words: # if word in words of male add to it's frequency to result 
        res += class1_words[word]
    if word in class2_words: # if word in words of female add it's frequency to result.
        res += class2_words[word]
    return res/(sum(class1_words.values()) + sum(class2_words.values()))


# how much a word describe a class. 
def PMI(word , class1_words,class2_words,class_):
    if class_ == 'male' or class_ =='musical_artist' or class_ == 'politicians':
        score = Pr_wClass(word,class1_words)/(pr_w(word,class1_words,class2_words)*pr_class(class_))
        return  log2(score) if score > 0 else 0
    score =  Pr_wClass(word,class2_words)/(pr_w(word,class1_words,class2_words)*pr_class(class_))
    return log2(score) if score > 0 else 0

calculating pmi for male and female words

In [514]:
male_pmi, female_pmi = [],[] # empty lists to store the pmi calculations

for word in words_male.keys(): # iterate over all the words and calculate pmi
    male_pmi.append((word, PMI(word,words_male,words_female  ,'male'))) # we insert to the male_pmi list a tuple with two values: (word, pmi_score)
# the same operation as above.
for word in words_female.keys():
    female_pmi.append((word,PMI(word,words_male,words_female ,'female')))

###### Words that best describe Male:

In [546]:
# we sort the list of tuples by the 
pd.DataFrame(sorted(male_pmi,key = lambda x: x[1], reverse = True)[:30], columns = ['word', 'PMI']).to_csv('male_pmi.csv')
pd.DataFrame(sorted(male_pmi,key = lambda x: x[1], reverse = True)[:30], columns = ['word', 'PMI'])

              word       PMI
0   astrophysicist  1.667551
1            build  1.667551
2          believe  1.667551
3           future  1.667551
4           pursue  1.667551
5        happiness  1.667551
6           turned  1.667551
7        productor  1.667551
8        conductor  1.667551
9       presidente  1.667551
10           daily  1.667551
11         chaotic  1.667551
12              ta  1.667551
13         michael  1.667551
14            owen  1.667551
15            zach  1.667551
16            film  1.667551
17           maker  1.667551
18             die  1.667551
19             fan  1.667551
20           india  1.667551
21              en  1.667551
22            long  1.667551
23           beach  1.667551
24         dragged  1.667551
25            sand  1.667551
26         vehicle  1.667551
27          hurled  1.667551
28        catapult  1.667551
29          trench  1.667551

###### Words that best describe female

In [547]:
pd.DataFrame(sorted(female_pmi,key = lambda x: x[1], reverse = True)[:30], columns = ['word', PMI]).to_csv('female_pmi.csv')
pd.DataFrame(sorted(female_pmi,key = lambda x: x[1], reverse = True)[:30], columns = ['word', PMI])

         word  <function PMI at 0x0000027A3941B9D0>
0       queen                              2.454197
1        part                              2.454197
2        solo                              2.454197
3       armor                              2.454197
4        cook                              2.454197
5         ray                              2.454197
6        feed                              2.454197
7       water                              2.454197
8     melanin                              2.454197
9       blood                              2.454197
10    mexican                              2.454197
11   starring                              2.454197
12       july                              2.454197
13     enough                              2.454197
14          x                              2.454197
15       grab                              2.454197
16     talent                              2.454197
17   parallel                              2.454197
18     parker                              2.454197
19        una                              2.454197
20         la                              2.454197
21     soccer                              2.454197
22     karate                              2.454197
23      dance                              2.454197
24        job                              2.454197
25       ever                              2.454197
26      never                              2.454197
27      sleep                              2.454197
28  beautiful                              2.454197
29        leo                              2.454197

# Conclusions

-  We can clearly notice that the words that describe each class are different when we use PMI score instead of the count of occurences.
- The words that describe each class changed.
- all top words have the same pmi score, although it's unlikely for them to have the same frequency. 
- We can use these words for further use, e.g., we could use them to predict unseen user's class by looking at the words mentioned in twitter_desc.
- values in the first section of are the frequency of each word, while using pmi score we are looking at each word and given it a score on how much it can be affiliated to the class. then, we can use this to know a twitter_desc is

# What Best Describes By PMI Score

count the values of each class

In [517]:
count_musical_artists =  len(data[data['type1'] == 'MusicalArtist'])
count_non_musical_artists = len(data[(data['type1'] != 'MusicalArtist') & (data['type1'].notna())])

In [518]:
count_politicians =  len(data[data['type1'] == 'Politician'])
count_non_politicians = len(data[(data['type1'] != 'Politician') & (data['type1'].notna())])

###### Words that best describe MusicalArtists

getting words of musicalArtists

In [519]:
## getting the words that describe music artists from the data that have twitter_desc column not null.
music_artists_words = data[(data['type1'] == 'MusicalArtist') & (data['twitter_desc'].notna())]['twitter_desc'].tolist()
## we got the words as list of strings, let's convert it to a single string so we can then apply cleanse_data on a single string,.
music_artists_words = ' '.join(music_artists_words)
# let's get the words that describe the musical artists as a list by applying cleanse_data
music_artists_words = cleanse_data(music_artists_words)
# music_artists_words

getting words of non-musicalArtists

In [520]:
## getting the words that describe music artists from the data that have twitter_desc column not null.
not_musicart_words = data[(data['type1'] != 'MusicalArtist') & (data['twitter_desc'].notna())]['twitter_desc'].tolist()
## we got the words as list of strings, let's convert it to a single string so we can then apply cleanse_data on a single string,.
not_musicart_words = ' '.join(not_musicart_words)
# let's get the words that describe the musical artists as a list by applying cleanse_data
not_musicart_words = cleanse_data(not_musicart_words)

Best Words That Describe MusicalArtists

In [535]:
music_artists_words = dict(FreqDist(music_artists_words))
non_music_artists_words = dict(FreqDist(not_musicart_words))

pmi_music_artists, pmi_non_music_artists = [],[]

for word in music_artists_words.keys():
    pmi_music_artists.append((word, PMI(word,music_artists_words,non_music_artists_words,  'musical_artist'))) 
    
for word in non_music_artists_words.keys():
    pmi_non_music_artists.append((word,PMI(word,music_artists_words,non_music_artists_words, 'non_musical_artists')))

Top 30 Words Of MusicArtists

In [549]:
pd.DataFrame(sorted(pmi_music_artists,key = lambda x: x[1], reverse = True)[:30], columns = ['word', 'pmi']).to_csv('topMusic.csv')
pd.DataFrame(sorted(pmi_music_artists,key = lambda x: x[1], reverse = True)[:30], columns = ['word', 'pmi'])

            word       pmi
0            owe  6.415404
1         indigo  6.415404
2       playback  6.415404
3       relation  6.415404
4           dura  6.415404
5        melanin  6.415404
6           opus  6.415404
7     contradict  6.415404
8         thalia  6.415404
9         harass  6.415404
10         pombo  6.415404
11         armor  6.415404
12  miseducation  6.415404
13         negro  6.415404
14         canto  6.415404
15          toco  6.415404
16      commando  6.415404
17     whispered  6.415404
18        litter  6.415404
19      highroad  6.415404
20     balladeer  6.415404
21   electrician  6.415404
22       godlike  6.415404
23   omnipresent  6.415404
24  approachable  6.415404
25          suzy  6.415404
26       explain  6.415404
27         agora  6.415404
28          grip  6.415404
29         comer  6.415404

Top 30 Words of non MusicArtists

In [550]:
pd.DataFrame(sorted(pmi_non_music_artists,key = lambda x: x[1], reverse = True)[:30], columns = ['word', 'pmi']).to_csv('topNonMusic.csv')
pd.DataFrame(sorted(pmi_non_music_artists,key = lambda x: x[1], reverse = True)[:30], columns = ['word', 'pmi'])

               word       pmi
0           privacy  0.336608
1           trucker  0.336608
2       spectacular  0.336608
3            cotton  0.336608
4           restock  0.336608
5           program  0.336608
6    astrophysicist  0.336608
7        foundation  0.336608
8         difficult  0.336608
9             kevin  0.336608
10             hart  0.336608
11           closer  0.336608
12              non  0.336608
13      carborundum  0.336608
14           hatred  0.336608
15      beautifully  0.336608
16            cable  0.336608
17       insightful  0.336608
18             vive  0.336608
19            chill  0.336608
20         euphoria  0.336608
21             beta  0.336608
22          enquiry  0.336608
23          defence  0.336608
24  entrepreneurial  0.336608
25             kopi  0.336608
26           delete  0.336608
27               ak  0.336608
28          archive  0.336608
29       horizontal  0.336608

# Conclusions of Music Artists

#### Politicians

In [524]:
## getting the words that describe music artists from the data that have twitter_desc column not null.
politicians_words = data[(data['type1'] == 'Politician') & (data['twitter_desc'].notna())]['twitter_desc'].tolist()
## we got the words as list of strings, let's convert it to a single string so we can then apply cleanse_data on a single string,.
politicians_words = ' '.join(politicians_words)
# let's get the words that describe the musical artists as a list by applying cleanse_data
politicians_words = cleanse_data(politicians_words)

getting words of non-politicians

In [525]:
## getting the words that describe music artists from the data that have twitter_desc column not null.
not_politicians_words = data[(data['type1'] != 'Politician') & (data['twitter_desc'].notna())]['twitter_desc'].tolist()
## we got the words as list of strings, let's convert it to a single string so we can then apply cleanse_data on a single string,.
not_politicians_words = ' '.join(not_politicians_words)
# let's get the words that describe the musical artists as a list by applying cleanse_data
not_politicians_words = cleanse_data(not_politicians_words)

Best Words That Describe Politicians

In [531]:
politicians_words = dict(FreqDist(politicians_words))
not_politicians_words = dict(FreqDist(not_politicians_words))

pmi_politicians, pmi_non_politicians = [],[]

for word in politicians_words.keys():
    pmi_politicians.append((word, PMI(word,politicians_words,not_politicians_words,  'politicians'))) 
    
for word in not_politians_words.keys():
    pmi_non_politicians.append((word,PMI(word,politicians_words,not_politicians_words, 'non_politicians')))

Top 30 Words Of Politicians

In [551]:
pd.DataFrame(sorted(pmi_politicians,key = lambda x: x[1], reverse = True)[:30], columns = ['word', 'PMI']).to_csv('politicians.csv')
pd.DataFrame(sorted(pmi_politicians,key = lambda x: x[1], reverse = True)[:30], columns = ['word', 'PMI'])

             word       PMI
0         senator  8.703561
1   congresswoman  8.703561
2        monument  8.703561
3           rahul  8.703561
4         wealthy  8.703561
5          lilian  8.703561
6            mari  8.703561
7          amelia  8.703561
8         soldado  8.703561
9      vasundhara  8.703561
10         bengal  8.703561
11          sahib  8.703561
12           hind  8.703561
13         patria  8.703561
14         teresa  8.703561
15   municipality  8.703561
16       servidor  8.703561
17         pronto  8.703561
18       narendra  8.703561
19        shriver  8.703561
20       defensor  8.703561
21         tagged  8.703561
22           meio  8.703561
23    alleviation  8.703561
24           awan  8.703561
25            bot  8.703561
26           puno  8.703561
27          maire  8.703561
28          mitch  8.703561
29    antiquarian  8.703561

Top 30 Words of non Politicians

In [552]:
pd.DataFrame(sorted(pmi_non_politicians,key = lambda x: x[1], reverse = True)[:30], columns = ['word', 'PMI']).to_csv('noPoliticians.csv')
pd.DataFrame(sorted(pmi_non_politicians,key = lambda x: x[1], reverse = True)[:30], columns = ['word', 'PMI'])

                word       PMI
0              light  0.145906
1         collection  0.145906
2               part  0.145906
3                net  0.145906
4               rare  0.145906
5             custom  0.145906
6     astrophysicist  0.145906
7           learning  0.145906
8               hart  0.145906
9          everybody  0.145906
10              gang  0.145906
11         cricketer  0.145906
12               car  0.145906
13           nowhere  0.145906
14             debut  0.145906
15         awareness  0.145906
16            anyone  0.145906
17         spreading  0.145906
18            hatred  0.145906
19           chaotic  0.145906
20  environmentalist  0.145906
21             cable  0.145906
22                tu  0.145906
23         important  0.145906
24             shape  0.145906
25                ta  0.145906
26            random  0.145906
27            singer  0.145906
28             derek  0.145906
29          humanity  0.145906

# Conclusions of Politicians

# Sentiment Score - twitter_desc

Downloading opinion lexicon

In [111]:
# nltk.download('opinion_lexicon')

[nltk_data] Downloading package opinion_lexicon to
[nltk_data]     C:\Users\mutla\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\opinion_lexicon.zip.

True

In [113]:
from nltk.corpus import opinion_lexicon

pos_list=set(opinion_lexicon.positive())
neg_list=set(opinion_lexicon.negative())

cleaning words of the two lists, removing things such '-' , ',' ...

In [136]:

positive, negative = [], []
for i in pos_list:
    positive.extend(cleanse_data(i))

for i in neg_list:
    negative.extend(cleanse_data(i))

Sentiment Score: (count of pos_words - count of neg_words)/count of words
- pos_words: positive words in description
- neg_words: negative words in description
- count of words: total count of words in description

Sentiment Score Calculation:

In [200]:
def sentiment_score(string):
    no = ['∼', '°', '″', '×', '…', '!', 'χ', '+', '‘','’',
        '—', '~', '>', '|', '<', '•', '→', '$', '\uf08e', '⋆', '´','•', '¨', 'ˆ', '′', '∑', '‚', '»',
        '«', '²', '€', '≥', '„', '›', '‹', '−', '¼', '£', 'ð', 'Þ', '\uf0b7', '\uf6bc', '∗', '†',
        '◦', '·', '±', '≤', '∏', 'º', '`', '�', '‡', '§', '̸', '⃗', '≪', 'ϕ', 'θ', '®', '≈', 'â', 
        'Ă', 'Ş', '∅', '™', '‐', '\x00', '（', '∕', '）', '𝑚', '\\', '\uffff','&', '–','?','#', '%',
        '=', '∀', '∈', '{', '}', '“', '”', '_', '*', '©',']','``', '’' '"', '[', ':', ';','/', '(', ')',
        "'",'-','.','@',',', '\r', '\n']
    string = [w for w in nltk.tokenize.word_tokenize(string) if w not in no]
    pos_words, neg_words,count_words = 0,0, len(string)
    if count_words ==0:
        return 0
    for word in string:
        if word in positive:
            pos_words += 1
        elif word in negative:
            neg_words += 1
    return (pos_words - neg_words)/count_words

In [209]:
descriptions = data[data['twitter_desc'].notna()]['twitter_desc'].tolist()

scores = []
for desc in descriptions:
    scores.append((desc, sentiment_score(desc)))

Top 10 positive Descriptions:

In [208]:
pd.DataFrame(sorted(scores,key = lambda x: x[1], reverse = True)[:10], columns =['Description', 'Score'])

           Description     Score
0                 work  1.000000
1                 whoa  1.000000
2                 whoa  1.000000
3           autonomous  1.000000
4             patience  1.000000
5   very stable genius  0.666667
6           charm type  0.500000
7         Raw polished  0.500000
8     music enthusiast  0.500000
9  lead @GenesisNovels  0.500000

Top 10 Negative Descriptions

In [210]:
pd.DataFrame(sorted(scores,key = lambda x: x[1], reverse = True)[-10:], columns =['Description',  'Score'])

                              Description     Score
0                                 so bomb -0.500000
1                  true untrue untrue ... -0.500000
2                          crisis actress -0.500000
3  jaded.                          Celtic -0.500000
4                              beach bum! -0.500000
5                             bad music™️ -0.500000
6                          vengeful ghost -0.500000
7                            rude lil pig -0.666667
8                        death,grind,gore -0.666667
9                                audacity -1.000000

# Arabic and Hebrew Letters in Descriptions

In [362]:
# function that checks if a string contains hebrew characters.
def check_hebrew(string):
    return any("\u0590" <= c <= "\u05EA" for c in string)
def check_arabic(string):
    return any("\u0600" <= c <= "\u06FF" for c in string)

True

In [554]:
count_arabic = 0
count_hebrew = 0
for desc in descriptions:
    if check_arabic(desc):
        count_arabic += 1
    if check_hebrew(desc):
        count_hebrew += 1
count = count_arabic + count_hebrew
print('Number Of Descriptions that contains Hebrew characters', str(count_hebrew))
print('Percentage of the descriptions that contains Hebrew characters:',(str(format((100*count_hebrew/len(descriptions)), '.4f'))) , '%' )
print('-------------------------------------------------------')
print('Number Of Descriptions that contains Arabic characters', str(count_arabic))
print('Percentage of the descriptions that contains Arabic characters:',(str(format((100*count_arabic/len(descriptions)), '.4f'))) , '%' )

Number Of Descriptions that contains Hebrew characters 10
Percentage of the descriptions that contains Hebrew charcters: 0.0393 %
-------------------------------------------------------
Number Of Descriptions that contains  Arabic characters 54
Percentage of the descriptions that contains Arabic charcters: 0.2120 %

# Emojies in Descriptions

In [383]:
def check_emjoi(char):
    range_min = ord(u'\U0001F300') # 127744
    range_max = ord(u"\U0001FAF6") # 129782
    if ord(char) >= range_min and ord(char) <= range_max:
        return True
    return False

In [387]:
emojis = {}
str_desc = ''.join(descriptions)
for c in str_desc:
    if check_emjoi(c):
        if c in emojis:
            emojis[c] += 1
        else:
            emojis[c] = 1
emojis

{'🎙': 41,
 '📲': 42,
 '🌈': 85,
 '🏆': 147,
 '🙌': 29,
 '🏼': 143,
 '👟': 6,
 '📽': 15,
 '🤝': 9,
 '👕': 7,
 '📊': 6,
 '🌱': 24,
 '🎮': 35,
 '🌙': 8,
 '📱': 27,
 '👉': 84,
 '🌊': 22,
 '🦄': 7,
 '🔟': 2,
 '📧': 36,
 '💕': 35,
 '💗': 43,
 '🤷': 15,
 '🏻': 159,
 '🎤': 45,
 '🌟': 23,
 '🎵': 15,
 '💄': 10,
 '🐶': 29,
 '🎥': 46,
 '📸': 46,
 '🏳': 47,
 '🏴': 22,
 '💫': 50,
 '💜': 35,
 '🌺': 4,
 '📺': 64,
 '👩': 42,
 '💻': 31,
 '💔': 4,
 '🏀': 47,
 '🏈': 34,
 '🏞': 1,
 '💥': 33,
 '🎧': 32,
 '🎶': 54,
 '👶': 21,
 '🌎': 65,
 '🤲': 3,
 '🐷': 4,
 '🙃': 3,
 '👇': 168,
 '🖤': 45,
 '🍊': 7,
 '🕵': 5,
 '👱': 3,
 '🥋': 4,
 '🤾': 2,
 '🔥': 94,
 '💎': 14,
 '👋': 10,
 '👻': 50,
 '💦': 4,
 '🔮': 10,
 '🙏': 66,
 '😍': 11,
 '👏': 3,
 '🏾': 108,
 '😊': 11,
 '💯': 12,
 '💰': 12,
 '📚': 48,
 '🎭': 15,
 '🪐': 3,
 '🛸': 9,
 '🦁': 15,
 '🏠': 14,
 '🧪': 1,
 '🚀': 26,
 '🐨': 4,
 '📨': 4,
 '💃': 14,
 '💛': 42,
 '🛌': 1,
 '🎨': 14,
 '🐱': 3,
 '📍': 23,
 '🎬': 24,
 '🕊': 12,
 '💙': 39,
 '🌏': 17,
 '🔑': 4,
 '🌍': 38,
 '😄': 8,
 '🗣': 19,
 '🎉': 16,
 '🐬': 3,
 '🌸': 27,
 '🧛': 4,
 '🌿': 10,
 '🖍': 1,
 '📷': 28,
 '💌': 8,
 '😷': 3,
 '🔴': 26,
 '🤘': 36,
 '👀': 16,
 '🗝': 5,
 '😈': 18,
 '🦅': 17,
 '🏽': 101,
 '🚬': 3,
 '😎': 17,
 '👑': 34,
 '💐': 4,
 '🥈': 9,
 '🥇': 25,
 '💼': 7,
 '🌼': 5,
 '😜': 6,
 '🐑': 4,
 '📬': 6,
 '🏷': 1,
 '💓': 8,
 '😇': 6,
 '😅': 1,
 '👊': 34,
 '💚': 32,
 '💪': 41,
 '📰': 10,
 '📹': 1,
 '📈': 3,
 '💡': 5,
 '🍒': 3,
 '😛': 1,
 '📩': 15,
 '🐒': 5,
 '🌹': 21,
 '💋': 39,
 '🥊': 11,
 '🙆': 2,
 '🍚': 1,
 '👨': 24,
 '👧': 25,
 '🎾': 16,
 '👦': 16,
 '💅': 6,
 '🌞': 4,
 '💁': 12,
 '🔽': 5,
 '🛄': 1,
 '📌': 3,
 '💝': 1,
 '🐾': 19,
 '🤟': 6,
 '🤍': 7,
 '🦠': 5,
 '🌋': 1,
 '😘': 12,
 '🎖': 7,
 '👠': 8,
 '🍔': 10,
 '🥓': 1,
 '🍕': 6,
 '🥂': 2,
 '🌴': 26,
 '🤦': 3,
 '💬': 7,
 '🛒': 7,
 '🎓': 17,
 '🚨': 14,
 '🏄': 3,
 '👍': 17,
 '📡': 4,
 '🦀': 8,
 '👹': 4,
 '🏿': 22,
 '🍣': 2,
 '😀': 6,
 '🥘': 2,
 '💩': 1,
 '💖': 22,
 '🏣': 1,
 '🔺': 3,
 '😂': 8,
 '👽': 6,
 '👿': 2,
 '🤶': 1,
 '👝': 1,
 '👞': 2,
 '🐼': 5,
 '🎒': 3,
 '🐟': 7,
 '🦈': 6,
 '🌳': 4,
 '🌦': 6,
 '🌩': 1,
 '🍐': 1,
 '🍎': 17,
 '🍾': 1,
 '🎈': 7,
 '🥑': 2,
 '😁': 11,
 '🧤': 5,
 '🧼': 1,
 '🧴': 1,
 '🚫': 5,
 '🏟': 5,
 '👸': 11,
 '🗓': 3,
 '🎞': 7,
 '🍌': 2,
 '🏍': 2,
 '🚗': 3,
 '🌶': 4,
 '🦋': 22,
 '🐴': 3,
 '📞': 19,
 '🌖': 1,
 '🐐': 5,
 '💿': 5,
 '📻': 14,
 '🏌': 7,
 '🏇': 5,
 '🎣': 3,
 '🍑': 6,
 '🏅': 12,
 '🦏': 1,
 '👁': 6,
 '🗨': 1,
 '🏒': 12,
 '🥅': 4,
 '📝': 6,
 '🤗': 6,
 '🐉': 7,
 '🗞': 10,
 '🖊': 3,
 '📇': 1,
 '👗': 5,
 '🌻': 4,
 '🏐': 3,
 '🎂': 1,
 '🥳': 4,
 '🤠': 8,
 '🙅': 3,
 '🥀': 7,
 '🚙': 3,
 '🔋': 4,
 '🦇': 3,
 '👵': 1,
 '🍀': 8,
 '🐿': 1,
 '🍿': 3,
 '📖': 16,
 '😻': 2,
 '🍺': 2,
 '🏝': 3,
 '🐫': 3,
 '🐪': 3,
 '💑': 2,
 '🤳': 2,
 '🤮': 2,
 '🎯': 3,
 '🔰': 1,
 '🍯': 5,
 '🧚': 6,
 '🎸': 14,
 '🌕': 1,
 '📎': 2,
 '🧬': 2,
 '🎟': 12,
 '💍': 22,
 '👈': 4,
 '🌲': 2,
 '💀': 19,
 '🔪': 12,
 '🤜': 2,
 '🤛': 1,
 '👣': 4,
 '🕺': 7,
 '🧡': 18,
 '🧒': 6,
 '🎗': 2,
 '🗳': 3,
 '👾': 3,
 '😏': 5,
 '🔩': 5,
 '🏘': 1,
 '🖖': 10,
 '🌵': 3,
 '👤': 1,
 '🔝': 3,
 '🔊': 12,
 '🏮': 1,
 '🐝': 9,
 '😗': 2,
 '🖕': 1,
 '📟': 2,
 '🟡': 2,
 '🟢': 2,
 '🎼': 11,
 '🎛': 3,
 '🤴': 3,
 '📙': 1,
 '💨': 9,
 '🏃': 13,
 '🚘': 3,
 '🦚': 1,
 '🗽': 11,
 '👌': 6,
 '🔗': 2,
 '🤱': 1,
 '🍴': 5,
 '🧩': 3,
 '🐰': 7,
 '🍍': 6,
 '🐳': 3,
 '👰': 4,
 '🌮': 3,
 '🧦': 3,
 '🔻': 4,
 '🤼': 5,
 '🎏': 1,
 '🔬': 9,
 '👒': 1,
 '🤪': 4,
 '💉': 1,
 '📆': 2,
 '🍰': 3,
 '💸': 11,
 '👐': 3,
 '🎁': 1,
 '🖥': 5,
 '📕': 5,
 '🐍': 8,
 '🍩': 4,
 '😃': 2,
 '🍋': 2,
 '🥃': 1,
 '📒': 2,
 '🦕': 3,
 '🌪': 4,
 '🦎': 1,
 '🦖': 4,
 '🐻': 9,
 '💢': 2,
 '📅': 1,
 '🍁': 2,
 '👼': 8,
 '🤩': 1,
 '🎹': 9,
 '📣': 3,
 '🛡': 5,
 '🦆': 6,
 '🥞': 1,
 '🔎': 2,
 '🤣': 1,
 '👫': 2,
 '🍧': 1,
 '🖱': 1,
 '🍼': 4,
 '🏡': 7,
 '🖲': 1,
 '👯': 8,
 '🐗': 3,
 '🤸': 4,
 '🐺': 10,
 '🐲': 3,
 '🍇': 1,
 '🐠': 3,
 '🧢': 5,
 '🔨': 1,
 '🙋': 12,
 '🤙': 8,
 '👭': 2,
 '😺': 6,
 '👥': 1,
 '🐏': 1,
 '🐢': 7,
 '📦': 3,
 '🕯': 3,
 '🦍': 4,
 '😉': 5,
 '🙂': 10,
 '🧠': 5,
 '🤑': 2,
 '🌐': 7,
 '💊': 1,
 '🐣': 1,
 '🛰': 1,
 '🕹': 2,
 '💒': 1,
 '🏁': 10,
 '🍷': 9,
 '🦂': 1,
 '🙄': 2,
 '📢': 2,
 '🔸': 9,
 '🏏': 2,
 '🚒': 3,
 '🦩': 1,
 '🚴': 4,
 '🚪': 1,
 '🍻': 5,
 '🦊': 4,
 '🎰': 1,
 '🐘': 5,
 '🏰': 2,
 '🔍': 2,
 '🤖': 3,
 '🔞': 3,
 '💆': 1,
 '👂': 3,
 '🍉': 2,
 '🏕': 2,
 '🗡': 3,
 '💽': 2,
 '🛀': 2,
 '😬': 2,
 '🤞': 2,
 '🛤': 1,
 '🎀': 7,
 '🎫': 2,
 '🍃': 4,
 '🧘': 5,
 '🐋': 1,
 '🚿': 1,
 '🧔': 2,
 '🍭': 6,
 '🍽': 2,
 '🍡': 1,
 '🍬': 2,
 '💱': 1,
 '🔧': 1,
 '🌇': 2,
 '🥬': 1,
 '🥐': 1,
 '🧁': 1,
 '🥒': 1,
 '🚦': 1,
 '🛍': 4,
 '🍓': 1,
 '🥤': 1,
 '🎺': 1,
 '🍳': 4,
 '👖': 3,
 '💣': 1,
 '🐯': 4,
 '👴': 1,
 '🌭': 1,
 '🧜': 2,
 '🐕': 7,
 '🤔': 2,
 '🏎': 3,
 '🐸': 1,
 '📀': 8,
 '🏑': 1,
 '🧑': 1,
 '🧶': 1,
 '🐇': 1,
 '🌉': 2,
 '🌾': 3,
 '🏹': 5,
 '🔈': 3,
 '🚁': 1,
 '🐎': 3,
 '🤫': 1,
 '💧': 2,
 '🥧': 1,
 '🗯': 5,
 '🚩': 1,
 '🍸': 3,
 '🚂': 2,
 '🏉': 1,
 '🧀': 2,
 '💘': 2,
 '🦷': 1,
 '🐧': 3,
 '🐙': 2,
 '🔦': 1,
 '🚶': 2,
 '📥': 4,
 '🕰': 2,
 '🚧': 1,
 '😼': 2,
 '🦉': 2,
 '🐆': 1,
 '🚄': 1,
 '🚌': 1,
 '🛳': 1,
 '🛹': 1,
 '😡': 1,
 '🏔': 2,
 '🚐': 1,
 '🚺': 1,
 '🐖': 2,
 '🐄': 1,
 '🐓': 1,
 '🙍': 1,
 '🥁': 4,
 '🍞': 1,
 '🍂': 2,
 '🐅': 3,
 '🌬': 3,
 '🚍': 1,
 '🔠': 1,
 '🎲': 1,
 '🦹': 1,
 '🤡': 2,
 '🎃': 1,
 '🍦': 2,
 '🚲': 4,
 '🥉': 3,
 '🙁': 1,
 '😋': 1,
 '🎷': 1,
 '🕷': 3,
 '🕸': 3,
 '🤺': 1,
 '🏺': 1,
 '🥭': 1,
 '🛫': 1,
 '🛬': 3,
 '🌧': 1,
 '🚽': 1,
 '🚑': 1,
 '🚅': 1,
 '🐀': 1,
 '🥄': 2,
 '🎊': 1,
 '🍲': 1,
 '🔜': 2,
 '🔙': 1,
 '🥰': 2,
 '😝': 1,
 '🏩': 1,
 '😴': 2,
 '🖐': 1,
 '🌔': 1,
 '💵': 1,
 '🌠': 1,
 '🏊': 3,
 '🚜': 2,
 '📗': 1,
 '🍜': 1,
 '🍖': 2,
 '🧟': 1,
 '🏖': 1,
 '🌯': 1,
 '🗺': 2,
 '🐮': 2,
 '💳': 2,
 '🐽': 1,
 '🚵': 1,
 '💭': 2,
 '🎦': 1,
 '🎡': 2,
 '🍄': 2,
 '🍆': 1,
 '🌤': 2,
 '🐤': 1,
 '🐡': 1,
 '🏋': 2,
 '🕜': 1,
 '🤓': 6,
 '🚔': 1,
 '🐛': 1,
 '🖼': 1,
 '🧹': 1,
 '👓': 2,
 '🔭': 1,
 '🎱': 1,
 '🔫': 2,
 '🍝': 1,
 '🍪': 1,
 '🛩': 1,
 '🏦': 1,
 '🛥': 1,
 '🌘': 1,
 '🥎': 2,
 '🛑': 1,
 '😔': 1,
 '🧂': 1,
 '🍢': 1,
 '🎳': 1,
 '🍹': 1,
 '😕': 1,
 '📿': 2,
 '🐊': 3,
 '🎩': 2,
 '🧸': 1,
 '🍶': 1,
 '🥙': 1,
 '🐔': 1,
 '🛎': 1,
 '🌑': 2,
 '🏢': 1,
 '😹': 1,
 '💏': 1,
 '🕶': 1,
 '🌫': 1,
 '🕑': 1,
 '🙇': 1,
 '😩': 1,
 '💞': 1,
 '😭': 1,
 '🥦': 1,
 '🐜': 1,
 '🍫': 2,
 '🐦': 1,
 '🦘': 1,
 '🔌': 1,
 '👘': 1,
 '🏛': 1,
 '🌓': 1,
 '🌄': 1,
 '🧾': 1,
 '📁': 1,
 '🥺': 1,
 '🦟': 1,
 '🥍': 1,
 '👆': 1,
 '🧷': 1,
 '💇': 1,
 '🦜': 1,
 '😱': 1,
 '🌌': 1,
 '💈': 1,
 '🚞': 1,
 '🚃': 5,
 '🏙': 1}

In [403]:
emojis = {k: v for k, v in sorted(emojis.items(), key=lambda item: item[1], reverse = True)}

In [397]:
import demoji
demoji.download_codes()

C:\Users\mutla\AppData\Local\Temp/ipykernel_17320/36668822.py:3: FutureWarning: The demoji.download_codes attribute is deprecated and will be removed from demoji in a future version. It is an unused attribute as emoji codes are now distributed directly with the demoji package.
  demoji.download_codes()

In [410]:
emoji_values = []
for em in emojis:
        emoji_values.append((em[0], demoji.findall(em)[em], emojis[em[0]]))
pd.DataFrame(emoji_values, columns = ["Emoji", "Emoji Description", "Occurences"])[:10]

  Emoji              Emoji Description  Occurences
0     👇   backhand index pointing down         168
1     🏻                light skin tone         159
2     🏆                         trophy         147
3     🏼         medium-light skin tone         143
4     🏾          medium-dark skin tone         108
5     🏽               medium skin tone         101
6     🔥                           fire          94
7     🌈                        rainbow          85
8     👉  backhand index pointing right          84
9     🙏                   folded hands          66